/* CSS para dispositivos móbiles*/
/* en @media esta el CSS para Desktop */


/* Estilos para el modo Día */
html.modoDia {
    background-color: #fbfbfb;
    color: #000000;
}
  
/* Estilos para el modo Noche */
html.modoNoche {
    background-color: #121212;
    color: #fbfbfb;
}
/* Botón modo Día Noche */
#modoDiaNoche {
    background-image: url("../css/iconos/dia.png");
    background-size: cover;
    border: none;
    background-repeat: no-repeat;  
    background-color:transparent;
    width: 3vw;
    height: 3vw;
    margin-right: 0.5vw;
    cursor: pointer;
}
html {
    /*background-color: #fbfbfb;*/
    font-size: 3vw;
    min-font-size: 18px; /* Tamaño de letra base para dispositivos móviles */
    max-font-size: 36px; /* Tamaño de letra base para Desktop */
}

 /* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}
/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

main {
    margin: auto;
    overflow-y: scroll;
    height: calc(100vh - 90px); 
    padding-right: 10px;
    padding-left: 10px;
}


body {
    margin-top: 90px; 
}

header {
    width: 100%;
    height: 90px;
    max-height: 15vh;
    display: flex;
    justify-content: space-around;;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}


h1 {
    font-size: 100%;
}
h2 {
    text-align: center;
    font-size: 78%;
    padding-bottom: 0px;
}

.SubT {
    font-size: 70%;
    text-align:left; 
    padding-top: 10px; 
}

p, ul {
    font-size: 60%;    
}
p {
     padding-bottom: 10px;    
}

ul {
    list-style-type: disclosure-closed; /*disc;*/
    margin-left: 5vw;
  }

#div1 {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    line-height: 2rem; /*35px;*/
    width: 35%;
}

#menu {
    width: 65%;
    height: 5.6vw; /*45%;*/
    background-color: #af599e;
    font-size: 35%;
    border-radius: 5px;
    margin-right: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.menuop {
    display:inline-block;
    background: rgba(153, 204, 255, 0.5);
    color: white;
    padding: 0.5vw 0.5vw; /*1% 1%;*/
    border-radius: 5px;
}

.menuop:hover {
    background: #d8d8da;
    color: black;
}

#div2{
    display: flex;
    justify-content: center;
}

#logo{
    width: 30vw;
}

#Inicio {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    margin: 10px 0;
}

.boton {
    display: inline-block;
    padding: 1vw 2vw;
    background-color:#af599e;
    color: #fbfbfb;
    font-weight: bold;
    font-size: 56%;
    border-radius: 25px;
}
  
.boton:hover {
    color: #000;
}

#cronogra{
    width: 100%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.icono {
    width: 3vw; /*15px;*/
    /*height: 90%; 15px;*/
}

.Art1, .Art2 {
    border-radius: 25px;
    padding: 2vw;   
}

.Art1 {
    background-color:rgba(175, 89, 158, 0.3);
}
.Art2 {
    background-color:rgba(153, 204, 255, 0.5);
}


footer {
    height: 8vw;
    width: 100%;
    background-color: #af599e;
    color: #fbfbfb;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    font-size: 50%;
    border-radius: 25px 25px 0 0;
    padding: 5px;
} 

#foot1{
    height: 90%;
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
#foot2{
    display:flex;
    flex-direction:row;
    justify-content:sp center;
    align-items: center;
}
#foot2 > h5 {
    font-size: 80%;
    margin-left: 5px;
    /*display:none;*/
}


@media (min-width: 768px) {
    main footer {
        height: 5vw;
        flex-direction: row;
    }
  }